openapi: 3.1.0
info:
  title: Cashlint API
  version: 1.0.0
  description: Accrual-based Accounting App
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session
security:
  - cookieAuth: []
paths: {}